# Semana 07
Jefferson Daniel Justo Geri

Temas:
    1. Números
    2. Variables
    3. Manejo de Cadenas
    4. Ingreso de Datos por el Teclado
    5. Operadores

5. Operadores

In [1]:
#5.1 Operadores aritméticos
#Se tiene: +, -, *, /, **, %, //

In [2]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [18]:
#5.2 Operadores de asignacion
#Se tiene: =, +=, -=, *=, /=, **=
numero = 5
numero = numero + 3
print(numero)

8

In [19]:
#La operacion anterior tambien se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [20]:
#Lo mismo se puede hacer con todos los casos, incluso la potencia
#Veamos otro ejemplo
numero = 5
numero = numero ** 3
print(numero)

125

In [21]:
#La operacion anterior tambien se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print(numero)

125

In [22]:
#5.3 Operadores de comparacion
#se tiene: ==, !=, <, >, <=, >=

In [23]:
#ejemplo de igualdad ==
numero1 = 5
numero = 2
numero1 == numero2

False

In [24]:
#con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [25]:
#5.4 operadores logicos
#se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [26]:
numero1 < numero2

True

In [27]:
#El not invierte el resultado
not(numero1 < numero2)

False

In [28]:
numero1<numero2 and numero3 < numero4

True

In [29]:
#Tambien puedes utilizar parentesis para ordenar tu operacion
(numero1 < numero2 and numero3 < numero4) or (numero3 > numero4)

True

In [3]:
# 5.5 Operadores de Pertenencia
# Se tiene: in, not in

In [4]:
#Miremos un ejemplo:

aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [5]:
# ¿Diego está en aula?
alumno1 in aula

False

In [6]:
# ¿Juan está en aula?
alumno2 in aula

True

In [7]:
# ¿Diego no está en aula?
alumno1 not in aula

True

In [8]:
# 5.6 Operadores de identidad
# Se tiene: is, is not

In [9]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]
# A continuación vamos a indicar que aula3 va a compartir el mismo objeto que aula 1
aula3 = aula1

In [10]:
# ¿aula3 comparte el mismo objeto que aula1 ?
aula3 is aula1

True

In [11]:
aula3 is aula2

False

In [12]:
# ¿aula2 comparte el mismo objeto que aula1 ?
aula2 is aula1

False

In [13]:
aula1.append("Diego")

In [14]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [15]:
# Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [16]:
# Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']